*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h5{
    padding: 40px 60px;
    color: #607492;
}

p{
    font-size: small;
}

i{
    font-size: 20px;
    margin-top: 10px;
}

/* utility class */
.col{
    padding: 0;
}

/* sidebar */
aside{
    text-align: center;
    z-index: 99;
   box-shadow: 4px 0px 20px #7c7c7c;
}

.sidebar-options{
    padding:5px;
    color: #607492;
}

.sidebar-options.active{
    color: #383838;
    border-left: 5px solid #1d61cd;
    background-color: #c6dbeb;
}



/* logo */
.logo img{
    width: 50px;
    margin: 15px;
}

.logo,nav{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid rgb(240, 240, 240);
}

/* right section */
.main-section{
    background-color: #e1e5ee;
    height: 88vh;
}

.input-file{
    display: none;
    visibility: none;
}

.file-wrapper{
    width: 70%;
    margin: 0 auto;
}

.text{
    width: 100%;
    padding: 12px;
    border-radius:10px ;
    border: none;
}


.file{
    width: 20%;
    max-height: 150px;
    height: 100%;
    text-align: center;
    padding: 8.5% 0;
    background-color: #fff;
    border-radius: 10px;
}

.main-section p{
    text-align: center;
    padding: 20px;
}

/* media Query */

@media (max-width:583px){

    h5{
        padding: 40px;
    }

    .file{
        width: 100%;
    }
}